@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

svg path {
  transition: .1s;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
  color: #333;
  background: #fff;
  position: relative;
}

h3 {
  font-weight: 400;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

header {
  color: #fff;
  padding-top: 10vw;
  padding-bottom: 30vw;
  text-align: center;
}

header h4{
  color: #ffffff;
}
main {
  background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10vh 0 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

main::after {
  border-right: 2px dashed #eee;
  content: '';
  position: absolute;
  top: calc(10vh + 1.618em);
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100%;
}
.main-container {
  display: flex;
  align-items: flex-start;
}

.table-container {
  width: 50%;
  flex-direction: column;
  display: inline-block;
  padding: 10px; /* 테두리와 내용 사이의 간격 조정 */
}

.image-container {
  width: 50%;
  padding: 10px;
}

.image-container img{
  padding: 15vh 0 0 0;
  margin: auto;
}

footer {
  padding: 0;
  text-align: center;
  position: relative;
}

small {
  opacity: .5;
  font-weight: 300;
}

small a {
  color: inherit;
}
